#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-prod.xcconfig"
#include "../Flutter/Generated.xcconfig"

FLAVOR=prod
APP_BUNDLE_ID=com.company.powertracking
APP_NAME=Power Tool Tracking
API_BASE_URL=https://api.company.com
FIREBASE_PROJECT_ID=power-tool-tracking-prod
PRODUCT_BUNDLE_IDENTIFIER=$(APP_BUNDLE_ID)